behaviors {
    // Similar to the "layer" key, use tap-dance for numpaif __name__=="__main__":
    // so the first tap (or hold) is a &mo and the second tap is a &to
    numpad: tap_dance_numpad {
        compatible = "zmk,behavior-tap-dance";
        label = "LAYER_TAP_DANCE";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&mo>, <&to>;
    };
};
